@import url('https://fonts.googleapis.com/css?family=Montserrat');
#app {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--v-gray_superdark-base);
}

.margin {
    margin: 1em;
}

.clearer {
    clear: both;
}

.logo {
    border-radius: 50%;
}

.description {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--v-dark-base);
    font-size: 1.3em;
}

a {
    text-decoration: none;
}

.v-toolbar__title {
    font-size: 1.5em !important;
}